# Core data analysis + numerical computing
pandas                      
numpy                       

# Visualisation / App
matplotlib
plotly                      
dash                        
dash-bootstrap-components   

# Geo helpers
pycountry                   

# Data download 
kagglehub                   

# Utilities
python-dotenv               
requests      

# Notebooks
ipykernel
